<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:rim="http://www.blackberry.com/ns/widgets" id="phonegap-plugin-barcodescanner" version="6.0.8">
  <name>BarcodeScanner</name>
  <descriptionPDF417 and all zXing for iphone</description>
  <license>MIT</license>
  <repo>https://github.com/jasj/ZXingObj</repo>
  <issue>https://github.com/jasj/ZXingObj/issues</issue>
  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <js-module src="www/pdf417IOS.js" name="BarcodeScanner">
    <clobbers target="cordova.plugins.pdf417IOS"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="pdf417IOS">
        
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>
    <preference name="CAMERA_USAGE_DESCRIPTION" default=" "/>
    <resource-file src="src/ios/scannerOverlay.xib"/>
    <resource-file src="src/ios/pdf417IOS.bundle"/>
    <header-file src="src/ios/zxing-all-in-one.h"/>
    <source-file src="src/ios/pdf417IOS.mm" compiler-flags="-fno-objc-arc"/>
    <source-file src="src/ios/zxing-all-in-one.cpp"/>
    <framework src="libiconv.dylib"/>
    <framework src="AVFoundation.framework"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="CoreVideo.framework"/>
    <framework src="QuartzCore.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="CoreImage.framework"/>
    <framework src="AudioToolbox.framework"/>
  </platform>
</plugin>
